*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all 1s;
}
:root
{
	--maincolor:#990099;
}
a:hover
{
	text-decoration: none;
	color: inherit;
}
a
{
	color: inherit;
}

/* Start Section  Home */
.home
{
	background-image: url(../images/back.jpeg);
	position: relative;
	background-size: cover;
}
.overlay
{
	position: absolute;
	top: 0;
	bottom:0;
	left: 0;
	right: 0;
	background-color: rgba( 217, 140, 217, .3)
}
.home-content h1 
{
	font-size: 48px;
    font-weight: bold;
    color: #2c2d32;
    line-height: 60px;
	margin-left: 170px;
	margin-top: 120px;
}


.home-content button
{
	margin-left: 170px;
	background-color: var(--maincolor);
	padding: 5px 20px;
	font-size: 20px;
	font-weight: 600;
    line-height: 40px;
	transition-duration: 1s
}
.home-content button i
{
	padding: 0 5px;
}
.home-content button:hover i
{
 padding-right:  10px;	
 color: #fff;
}
.home-content button:hover{
	color: #fff;
}





/*end section Home */


/* nav baaar */

/* About seection  */
.nav
{
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	background-color: #2c2d32;
	display: block;
	text-align: center;
	z-index: 888;

}

.logo
{
	padding: 20px 10px;
	font-weight: bold;
	 font-size: 25px;
    text-shadow: 1px 1px 4px #fff;
	font-family: 'Mrs Sheppards', cursive;
	color: #fff;

}
.text-home , .text-about , .text-service , .text-works , .text-Contact 
{
	font-size: 25px;
	color: #eee;
	position: relative;
	padding: 20px 10px;
}
.activee i
{
	color: var(--maincolor);
}

.nav i
{
	border: 1px solid #333;
	padding: 8px;
}
.nav i:hover
{
	border-radius: 50%;
    border: 1px solid var(--maincolor);
}
.text-down 
{
	margin-top: 35px;
	background-color: var(--maincolor);
}
.text-down i
{
	font-size: 30px;
	padding: 10px;
	cursor: pointer;
	border: none;
}
.text-down i:hover
{
	color: var(--maincolor);
	background-color: #2c2d32;
}

.text-home::after , .text-about::after , .text-service::after , .text-works::after , .text-Contact::after 
{
	position: absolute;
	
	left: 90px;
    background: #2c2d32;
    height: 25px;
    line-height: 25px;
    padding: 0px 20px;
    color: #fff;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 500;
    transform: translateY(-50%);
	border: 1px solid var(--maincolor);
    opacity: 0
}
.text-home::after
{
	content: "Home";
	top: 45px;
}


.text-about::after
{
	content: "About";
	top: 41px
}


.text-service::after
{
	content: "Services";
	top: 38px
}

.text-works::after
{
	content: "Works";
	bottom: 20px
}

.text-Contact::after
{
	content: "Contact";
	bottom: 18px
}
.text-home:hover::after , .text-about:hover::after , .text-works:hover::after , .text-service:hover::after , .text-Contact:hover::after
{
	opacity: 1;
}

/* end nav baaar */

/* start about section */


.about-header h2 , .service-header h2 , .work-header h2 , .contact-header h2
{
	position: relative;
    margin-bottom: 20px;
    font-size: 38px;
    line-height: 38px;
    font-weight: 700;
}
.about-header h2::after
{
	content:"A";
	position: absolute;
	font-size: 2em;
    opacity: .06;
    top: -0.17em;
    left: 0;
    right: 0;
    margin: auto;
}
.about-header hr , .service-header hr , .work-header hr , .contact-header hr
{
    border-top: 1px solid #333;
	width: 3%;
	margin: auto;
}
.about-header:hover hr , .service-header:hover hr , .work-header:hover hr , .contact-header:hover hr
{
	width: 5%;
}
.img-about
{
	position: relative;
}
.about-text , .first-overlay
{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--maincolor);
	opacity: .6;
	display: none;
}
.img-about:hover .about-text
{
	display: block;
}
.about-text p
{
	padding: 15px;
	font-weight: bold;
	letter-spacing: 3;
	color: #fff;
}
.about-text i
{
	padding: 10px;
	cursor: pointer;
}

.skills p
{
    font-size: 14px;
    letter-spacing: 3px;
    color: #666;
    font-weight: 600;
}
.skills h3 , .service h3 , .work h3
{
	text-align: left;
    font-weight: 700;
    font-size: 34px;
    color: #2c2d32;
    margin-bottom: 40px;
    line-height: 45px;
    text-transform: capitalize;
}
.skills span
{
	color: var(--maincolor);
}
.line
{
	border-top: 1px dashed var(--maincolor);
	width: 30%;
	text-align: left;
	margin-left: 0;
}

.progress-container .progress
{
	    height: .5rem;
}
.progress-container .progress-bar
{
	background-color: var(--maincolor);
}
.progress-container span
{
	color: #444;
	font-weight: bold;
}
.skills .btn 
{
	background-color: var(--maincolor);
	padding: 10px 20px;
	font-weight: 800;
}
.skills .btn:hover 
{
	color: var(--maincolor);
	background-color: #fff;
	border: 1px solid var(--maincolor)
}
.skills .btn i
{
	font-size: 22px;
	padding: 0 5px
}
/* end section about*/

/* start section service */

.service-header h2::after
{
	content:"S";
	position: absolute;
	font-size: 2em;
    opacity: .06;
    top: -0.17em;
    left: 0;
    right: 0;
    margin: auto;
}

.service , .contact
{
	background-color: #f2f2f2;
}
.card h5
{
	color: var(--maincolor)
}
.card:hover
{
	box-shadow: 2px 2px 4px var(--maincolor) ; 
	border-radius: 10px;
}
.card img:hover
{
	opacity: .7;
	border-radius: 10px;
}
/* end section service */

/* start section works */
.work-header h2::after
{
	content:"W";
	position: absolute;
	font-size: 2em;
    opacity: .06;
    top: -0.17em;
    left: 0;
    right: 0;
    margin: auto;
}
.first img
{
	height: 400px;
	border-radius: 10px;
}
.first
{
	width: 250px;
	position: relative;
}
.demo .btn
{
	margin-top: 300px;
}
.demo .btn
{
	background-color: #000000 ;
	font-weight: 800;
	color: #fff;
}
.demo .btn:hover
{
	color: var(--maincolor);
	background-color: #fff;
	border: 1px solid var(--maincolor)
}
.first:hover .first-overlay
{
	display: block;
	border-radius: 10px;
}

.demo h4
{
	color: #fff;
}
.first:hover 
{
	box-shadow: 5px 4px 4px var(--maincolor);
}
/* end section works */

/* start contact section */
.contact-header h2::after
{
	content:"C";
	position: absolute;
	font-size: 2em;
    opacity: .06;
    top: -0.17em;
    left: 0;
    right: 0;
    margin: auto;
}
.call h4
{
	letter-spacing: 2px;
	color: var(--maincolor);
	padding: 5px 0;
	line-height: 1;
}
.call p
{
	font-weight: bold;
	padding:0 15px;
    color: #6c757d;
}
.call span
{
	font-weight: normal;
}
.call p i
{
	padding: 5px;
	font-size: 20px;
	border: 1px solid #8c8c8c;
	border-radius: 5px;
	color: #fff;
}
.call , .form-row
{
	background-color: #2c2d32;
	padding: 10px;
	border-radius: 5px;
	
}
.call p i:hover
{
	background-color: #333;
}
.fa-facebook-f:hover
{
	color: #3b5998;
}
.fa-twitter:hover
{
	color: #55acee;
}
.fa-linkedin-in:hover
{
  color: #0077b5!important;	
}
.fa-github:hover
{
	color: #24292e;
}
.form-row input , .form-row textarea
{
	border: none;
	border-bottom: 1px solid var(--maincolor);
    background-color: #2c2d32;
}
.form-row .btn
{
	background-color: #2c2d32;
	border: 1px solid var(--maincolor);
	color: #6c757d;
}
.group
{
	height: 233px!important;
}

/* sendtart footer SECTION  */

/* start alwan SECTION  */

.alwan 
{
	width: 300px;
	position: fixed;
	top:150px;
	right:-300px;
	background-color: #2c2d32;
	z-index: 55555;
	border: 1px solid #eee;
	box-shadow: 1px 2px ;
	
}

.alwan li
{
	height: 30px;
	width: 30px;
	display: inline-block;
	padding: 10px;
	cursor: pointer;
	text-align-last: center;
	margin:30px 4px;
	border-radius: 5px;
}
.alwan i
{
	position: absolute;
    left: -34px;
    bottom: 32px;
    color: #fff;
	text-align: center;
	color: #333;
	padding: 5px 8px;
	cursor: pointer;
	font-size:25px;
	animation-name: example;
    animation-duration: .2s;
    animation-iteration-count: Infinite;
}
@keyframes example {
  0%   { transform: rotate(25deg); }
  25%  {transform: rotate(50deg);}
  50%  {transform: rotate(75deg);}
  100% {transform: rotate(100deg);}
}


.pink
{
	background-color: #f25454;
}
.green
{
	background-color: #24bca4;
}
.blue
{
	background-color: #4e9cb5;
}
.smawi
{
	background-color:#ff3300;
}
.yellow
{
	background-color: #e4d20c;
}
.roz
{
	background-color: #990099
}
.white-red
{
	background-color: #ee8f67
}
/* end alwan SECTION  */

@media only screen and (max-width:775px) {
  .nav{
	 position: fixed;
    left: 0;
	top: 0;
	right: 0;
	height: 100px;
  }
}
@media only screen and (max-width:775px) {
  .nav div{
   display: inline-block;
	  margin-top: 0;
	  padding-top:0; 
	  
  }
}

@media only screen and (max-width:493px) {
  .logo {
   display: none !important;
	  
  }
}
@media only screen and (max-width:775px) {
  .text-home::after , .text-about::after , .text-service::after , .text-works::after , .text-Contact::after{
	  top: 64px !important; 
	  left: -4px !important;  
  }
}
@media only screen and (max-width:860px) {
  .img-about{
   
	  margin-left: 35px;
  }
	 .img-about p {
   
	  padding: 0px;
  }
}
@media only screen and (max-width:775px) {
  .text-home::after , .text-about::after , .text-service::after , .text-works::after , .text-Contact::after{
	  top: 64px !important; 
	  left: -4px !important;  
  }
}
@media only screen and (max-width:775px) {
  .img-about{
   
	  margin-left: 0px;
  }
	 .img-about p {
   
	  padding: 10px;
  }
}

@media only screen and (max-width:874px) {
  .service h3 , .service .line{
   
	  margin-left: 40px;
  }
	
}

@media only screen and (max-width:775px) {
  .service h3 , .service .line{
   
	  margin-left: 0px;
  }
	
}

@media only screen and (max-width:1103px) {
  .call {
   
	  margin-left: 48px;
  }
	
}

@media only screen and (max-width:775px) {
  .call{
   
	  margin-left: 0px;
  }
	
}
