*
{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
body
{
	position: relative;
}
:root
{
	--maincolor:#B53471;
}
a:hover
{
	text-decoration: none;
	color: inherit;
}
a
{
	color: inherit;
}

/* Start Section  Home */
/* .home
{
	background-image: url(../images/back.jpeg);
	position: relative;
	background-size: cover;
	height: 500px;
} */

.carousel-item-three {
	position: relative;
	height: 500px;
	overflow: hidden;
}

.slide-1, .slide-2, .slide-3 {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.slide-1 {
	background: url(../images/service-1.jpg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat!important;
	width: 100%;
	height: 100%;
	animation: fade1 30s infinite;
}


.slide-2 {
	background: url(../images/service.jpg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat!important;
	width: 100%;
	height: 100%;
	animation: fade2 30s infinite;

}

.slide-3 {
	background: url(../images/back.jpeg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat!important;
	width: 100%;
	height: 100%;
	animation: fade3 30s infinite;
}

@keyframes fade1 {
	0% {
			opacity: 1;
			transform: scale(1.3);
	}
	33.3333333% {
			opacity: 0;
	}
	66.66666% {
			opacity: 0;
	}
	100% {
			opacity: 0;
	}
}

@keyframes fade2 {
	0% {
			opacity: 0;
	}
	33.3333333% {
			opacity: 1;
			transform: scale(1.3);
	}
	66.66666% {
			opacity: 0;
	}
	100% {
			opacity: 1;
			transform: scale(1.3);
	}
}

@keyframes fade3 {
	0% {
			opacity: 0;
	}
	33.3333333% {
			opacity: 0;
	}
	66.66666% {
			opacity: 1;
			transform: scale(1.3);
	}
	100% {
			opacity: 0;
	}
}

.overlay-1 {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(51, 51, 51, .8)
}
.overlay
{
	position: absolute;
	top: 0;
	bottom:0;
	left: 0;
	right: 0;
	background-color: rgba( 51, 51, 51, .1)
}


.center-block-body {
	height: 100%;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.center-block-wrap {
	width: 100%;
	height: 100%;
	display: table;
	vertical-align: middle;
}

.center-block {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
}



.home-content h1 
{
	font-size: 48px;
    font-weight: bold;
    color: #fff;
    line-height: 60px;
}


.home-content button
{
	
	background-color: var(--maincolor);
	padding: 5px 20px;
	font-size: 20px;
	font-weight: 600;
    line-height: 40px;
	-webkit-transition-duration: 1s;
	     -o-transition-duration: 1s;
					transition-duration: 1s;
					color: #fff;			
}
 #front
{
	color: var(--maincolor);!important
}
.home-content button i
{
	padding: 0 5px;
}
.home-content button:hover i
{
 padding-right:  10px;	
 color: #fff;
}
.home-content button:hover{
	color: var(--maincolor);
	background-color: #fff
}
.home-content button:hover i{
	color: var(--maincolor);
}





/*end section Home */


/* nav baaar */

/* About seection  */
.nav 
{
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	background-color: #2c2d32;
	display: block;
	text-align: center;
	z-index: 888;
	/* border-right: solid 1px #fff */
}
.logo span
{
 color: #333;
}

.logo
{
	padding: 16px 10px;
	font-size: 20px;
	background-color: var(--maincolor);
	color: #fff;
	text-transform: uppercase;
	position: relative;
	font-weight: 900;
}
.logo::after
{
	content: "";
	bottom: -8px;
	left: 27px;
	width: 20px;
	height: 20px;
	background-color: var(--maincolor);
	z-index: 99999;
	position: absolute;
	transform: rotate(45deg);
}

.text
{
	font-size: 25px;
	color: #eee;
	position: relative;
	padding: 12px 10px;
}


.text span {
	position: absolute;
	top: 34px;
	right: -89px;
	background: #2c2d32;
	height: 25px;
	line-height: 25px;
	padding: 0px 20px;
	color: #fff;
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 1px;
	font-weight: 500;
 -webkit-transform: translateY(-50%);
 -ms-transform: translateY(-50%);
 transform: translateY(-50%);
 display: none;
}
.text span::after{
	content: "";
	left: -7px;
	bottom: 3px;
	width: 19px;
	height: 19px;
	background-color: #2c2d32;
	z-index: 99999;
	position: absolute;
	transform: rotate(45deg);
	border-left: 1px solid var(--maincolor);
	border-bottom: 1px solid var(--maincolor);
}

.text p:hover span
{
	display: block;
}

.text-home span 
{
	right: -98px;

}
.text-about span
{
	right: -104px;

}
.text-service span
{
	right: -111px;

}
.text-works span
{
	right: -98px;

}
.text-Contact span
{
	right: -144px;

}






.activee i
{
	color: var(--maincolor);
}

.nav i
{
	border: 1px solid #333;
	padding: 8px;
}
.nav i:hover , .testat i:hover
{
	border-radius: 50%;
    border: 1px solid var(--maincolor);
}
.text-down 
{
	margin-top: 35px;
	background-color: var(--maincolor);
}
.text-down i
{
	font-size: 30px;
	padding: 10px;
	cursor: pointer;
	border: none;
}
.text-down i:hover
{
	color: var(--maincolor);
	background-color: #2c2d32;
}






/* end nav baaar */

/* start about section */


.about-header h2 , .service-header h2 , .work-header h2 , .contact-header h2
{
	position: relative;
    margin-bottom: 20px;
    font-size: 38px;
    line-height: 38px;
    font-weight: 700;
}
.about-header h2::after
{
	content:"A";
	position: absolute;
	font-size: 2em;
    opacity: .06;
    top: -0.17em;
    left: 0;
    right: 0;
    margin: auto;
}
.about-header hr , .service-header hr , .work-header hr , .contact-header hr
{
    border-top: 1px solid #333;
	width: 3%;
	margin: auto;
}
.about-header:hover hr , .service-header:hover hr , .work-header:hover hr , .contact-header:hover hr
{
	width: 5%;
}
.img-about
{
	position: relative;
}
.about-header{
	height: 100%;

}
.about-text , .first-overlay
{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--maincolor);
	transform: scale(0);
	transform-origin: right bottom;
	border: 1px solid #333;
	transition: 2s;
	border-radius: 10px;
}
.img-about:hover img
{
	transform: scale(0)
}
.img-about:hover .about-text
{
	transform: scale(1)
}
.about-text p
{
	padding: 15px;
	font-weight: bold;
	font-size: 18px;
	color: #fff;
}
.about-text i
{
	padding: 10px;
	cursor: pointer;
}

.skills p
{
    font-size: 14px;
    letter-spacing: 3px;
    color: #666;
    font-weight: 600;
}
.skills h3 , .service h3 , .work h3
{
	text-align: left;
    font-weight: 700;
    font-size: 30px;
    color: var(--maincolor);
    margin-bottom: 40px;
    line-height: 45px;
    text-transform: capitalize;
}
.skills span
{
	color: var(--maincolor);
}
.line
{
	border-top: 1px dashed var(--maincolor);
	width: 30%;
	text-align: left;
	margin-left: 0;
}

.progress-container .progress
{
	    height: .5rem;
}
.progress-container .progress-bar
{
	background-color: var(--maincolor);
}
.progress-container span
{
	color: #444;
	font-weight: bold;
}
.skills .btn 
{
	background-color: var(--maincolor);
	padding: 10px 20px;
	font-weight: 800;
}
.skills .btn:hover 
{
	color: var(--maincolor);
	background-color: #fff;
	border: 1px solid var(--maincolor)
}
.skills .btn i
{
	font-size: 22px;
	padding: 0 5px
}
/* end section about*/

/* start section service */

.service-header h2::after
{
	content:"S";
	position: absolute;
	font-size: 2em;
    opacity: .2;
    top: -0.17em;
    left: 0;
    right: 0;
		margin: auto;
		color: #fff
}
.service-header ,.service h5
{
  color: #fff;
}

.contact
{
	background-color: #f2f2f2;
}
#servise 
{
	background-image: url(../images/service.jpg);
	background-size: cover;
	background-position: center center;
	position: relative;
	background-attachment: fixed;
}

.card h5
{
	color: var(--maincolor);
	font-style: italic;
	font-weight: bold;
}
.card 
{
	box-shadow: 2px 2px 4px var(--maincolor) ; 
	border-radius: 10px;
	background-color: #dddada;
	height: 100%;
}
.card img
{
	border-radius: 10px 10px 0 0;
}
.blog-3 img
{
	height: 300px
}
.card img:hover
{
	opacity: .7;
	border-radius: 10px;
}
/* end section service */

/* start section works */
.work-header h2::after
{
	content:"W";
	position: absolute;
	font-size: 2em;
    opacity: .06;
    top: -0.17em;
    left: 0;
    right: 0;
    margin: auto;
}

.blog-3 .btn
{
	background-color: var(--maincolor) ;
	font-weight: 800;
	color: #fff;
	margin-left: 25px;
  width: 118px;
}
.blog-3 .btn:hover
{
	color: var(--maincolor);
	background-color: #fff;
	border: 1px solid var(--maincolor)
}
.blog-3 i
{
	color: var(--maincolor) ;}

/* end section works */

/* start contact section */
.contact-header h2::after
{
	content:"C";
	position: absolute;
	font-size: 2em;
    opacity: .06;
    top: -0.17em;
    left: 0;
    right: 0;
    margin: auto;
}
.call h4
{
	letter-spacing: 2px;
	color: var(--maincolor);
	padding: 5px 0;
	line-height: 1;
}
.call p
{
	font-weight: bold;
	padding:0 15px;
    color: #6c757d;
}
.call span
{
	font-weight: normal;
}
.call p i
{
	padding: 5px 5px;
	font-size: 20px;
	border: 1px solid #8c8c8c;
	color: var(--maincolor);
	margin-right: 10px;
	margin-bottom: 10px;
	background-color: #fff;
	border-radius: 5px;

}
.call p i:hover , .social i:hover
{
	color:#fff ;
	background-color: var(--maincolor);
}


.form-row input , .form-row textarea
{
	border: none;
	border-bottom: 1px solid var(--maincolor);
}
.form-row .btn
{
	border: 1px solid var(--maincolor);
	color: #fff;
	background-color: var(--maincolor);
}

footer
{
	background-color: #2c2d32;
	color: #8c8c8c;
}
.form-row .btn:hover
{
	background-color:#eee;
	color:var(--maincolor);
}
.form-control:focus {
	color: #495057;
	background-color: #fff;
	border-bottom:1px solid var(--maincolor);;
	outline: 0;
	 box-shadow: none!important;}

	 .social i
	 {
		 color: var(--maincolor);
		 background-color: #FFf;
		 font-size: 22px;
		 padding: 4px 4px;
		 width: 30px;
		 height: 30px;
		 border-radius: 50%;
		 margin-right:10px;
	 }

/* end footer SECTION  */

/* start alwan SECTION  */

.alwan 
{
	width: 300px;
	position: fixed;
	top:150px;
	right:-300px;
	background-color: #2c2d32;
	z-index: 55555;
	border: 1px solid #eee;
	-webkit-box-shadow: 1px 2px ;
	        box-shadow: 1px 2px ;
	
}

.alwan li
{
	height: 30px;
	width: 30px;
	display: inline-block;
	padding: 10px;
	cursor: pointer;
	text-align-last: center;
	margin:30px 4px;
	border-radius: 5px;
}
.alwan i
{
	position: absolute;
    left: -34px;
    bottom: 32px;
    color: #fff;
	text-align: center;
	color: #333;
	padding: 5px 8px;
	cursor: pointer;
	font-size:25px;
	-webkit-animation-name: example;
	        animation-name: example;
    -webkit-animation-duration: .2s;
            animation-duration: .2s;
    -webkit-animation-iteration-count: Infinite;
            animation-iteration-count: Infinite;
}
@-webkit-keyframes example {
  0%   { -webkit-transform: rotate(25deg); transform: rotate(25deg); }
  25%  {-webkit-transform: rotate(50deg);transform: rotate(50deg);}
  50%  {-webkit-transform: rotate(75deg);transform: rotate(75deg);}
  100% {-webkit-transform: rotate(100deg);transform: rotate(100deg);}
}
@keyframes example {
  0%   { -webkit-transform: rotate(25deg); transform: rotate(25deg); }
  25%  {-webkit-transform: rotate(50deg);transform: rotate(50deg);}
  50%  {-webkit-transform: rotate(75deg);transform: rotate(75deg);}
  100% {-webkit-transform: rotate(100deg);transform: rotate(100deg);}
}


.pink
{
	background-color: #f25454;
}
.green
{
	background-color: #24bca4;
}
.blue
{
	background-color: #4e9cb5;
}
.smawi
{
	background-color:#ff3300;
}
.yellow
{
	background-color: #e4d20c;
}
.roz
{
	background-color: #990099
}
.white-red
{
	background-color: #ee8f67
}
/* end alwan SECTION  */

/* start nav media  */

 /* @media only screen and (max-width:775px) {
  .nav {
display: none;
  }
} */

@media only screen and (max-width:1120px) {
  .nav  {
		left: 0;
		top: 0;
		right:0;
		height: 55px;
	  
  }
}
@media only screen and (max-width:1120px) {
  .nav .text {
		display: inline-block;
		margin-top: 5px!important;
		padding-top: 0;
	  
  }
}

@media only screen and (max-width:1120px) {
  .nav .logo , .text-down {
		display: none;
	  
  }
}

@media only screen and (max-width:1120px) {
  .text span {
		top: 73px;
	  
  }
}

@media only screen and (max-width:1120px) {
	.text-home span {
    right: -6px;

}

@media only screen and (max-width:1120px) {
	.text-about span {
    right: -14px;
}

@media only screen and (max-width:1120px) {
	.text-service span {
    right: -23px;
}
}

@media only screen and (max-width:1120px) {
	.text-works span {
    right: -18px;
}
}
@media only screen and (max-width:1120px) {
	.text-Contact span {
    right: -66px;
}
}
@media only screen and (max-width:1120px) {
	.text span::after {
    content: "";
		left: 36px;
		top: -7px;
		width: 14px;
		height: 14px;
    border-left: 1px solid var(--maincolor);
		border-top: 1px solid var(--maincolor);
		border-bottom: none;
}
}


@media only screen and (max-width:992px) {
	.skills .btn {
   padding: 6px
}
}

/* @media only screen and (max-width:998px) {
	.skills .btn {
   padding: 6px
}
} */





